*{
    font-size: 13px;
  }
  /* kop surat */

  img{
    border-bottom: 1px solid;
  }

  /* table */
  table, td, th{
    padding: 3px;
  }

  table{
    margin-top: -2px;
    border-top: 1px solid;
    border-bottom: 2px solid black;
    width: 100%;
    border-collapse: collapse;
  }

  .quotation{
    background: rgb(200, 200, 200);
  }

  .quotation th {
    padding: 5px 0 5px 0;
  }

  /* table rincian */
  table.rincian, td.rincian, th.rincian{
    border: 1px solid;
  }

  td.rincian.title{
    font-weight: bold;
  }

  table.rincian thead{
    background-color:rgb(200, 200, 200);
  }

  td.rincian.number, td.rincian.qty, td.rincian.title.number, td.rincian.satuan,.quotation{
    text-align: center;
  }
  
  td.rincian.nominal, td.footer{
    text-align: end;
  }

  td.rincian.empty{
    padding: 10px;
  }

  /* footer table */
  td.footer{
    background-color: gray;
    font-weight: bold;
  }

  /* syarat dan ketentuan */
  ol li{
    line-height: 20px;
  }

  /* table ttd */
  table.ttd{
    width: 75%;
  }

  table.ttd, td.ttd, th.ttd {
    border: 1px solid;
  }

  td.ttd.column{
    height: 100px;
  }

  td.ttd.column:first-of-type, td.ttd.column:nth-child(2), td.ttd.column:nth-child(3){
    width: 150px;
  }

  table.ttd thead{
    border-bottom: 4px solid black;
  }